body {
    background-color: rgb(16, 15, 15);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    
    




}

p {
    background-color: rgb(43, 44, 45);
    color: aliceblue;
    padding: 10px 0;
    text-align: center;
    
}

.container {
    color: rgb(245, 169, 7);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid rgb(182, 190, 222);
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: 110px auto;


}

nav {
    text-align: center;
    background-color: rgb(43, 44, 45);
    padding: 10px;



}

nav a {
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(247, 147, 8);
    text-decoration: none;
    text-align: center;

}

h3 {
    color: aliceblue;
}


nav a.active{
    border-bottom: 3px solid rgb(247, 147, 8);
    padding-bottom: 3px;
}
