body {
    background-color: rgb(16, 15, 15);
    display: flex;
    flex-direction: column;
}

button {
    top: 15px;
    left: 10px;
    position: fixed;
    padding: 10px 20px;
    color: black;
    border-radius: 5px;
    background-color: rgb(164, 164, 164);



}



h1 {
    color: rgb(245, 169, 7);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-right: 15px;
}

h2 {
    color: aliceblue;
}

h4 {
    color: rgb(244, 181, 7);
    display: block;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    background-color: rgb(43, 44, 45);
    padding: 10px;



}

nav a {
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(247, 147, 8);
    text-decoration: none;
    text-align: center;

}

p {
    color: aliceblue;
    text-align: center;
    background-color: rgb(43, 44, 45);
    padding-block: 15px;





}
nav a.active{
    border-bottom: 3px solid rgb(247, 147, 8);
    padding-bottom: 3px;
}