body {
    background-color: rgb(16, 15, 15);
    box-sizing: border-box;
    text-align: center;
    margin: 0;



}

nav {
    text-align: center;
    background-color: rgb(43, 44, 45);
    padding: 10px;



}

nav a {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(247, 147, 8);
    text-decoration: none;
    text-align: center;

}




form {
    height: 350px;
    width: 400px;
    border: 3px solid rgb(182, 190, 222);
    border-radius: 6px;
    color: aliceblue;
    margin: 30px auto;



}

h2 {
    padding: 60px 100px 0;
    color: aliceblue;
}

button {
    background-color: aliceblue;
    color: black;
    padding: 6px 8px;
}





p {
    color: aliceblue;
    text-align: center;
    background-color: rgb(43, 44, 45);
    padding-block: 10px 0;
}